.venv
__pycache__
*.pyc
.env
**/.env
**/.env.local
**/.env.production
**/.env.staging
*.db
*.sqlite
*.sqlite3
storage
tests
scripts/audit
scripts/processing
scripts/rc2
scripts/iam
scripts/production
comptapilot.db
